# EDA

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'/Users/patriciajaquez/Documents/GitHub/titanic_analysis/data/titanic_cleaned.csv')

In [4]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

## EDA (Exploratory Data Analysis)

In [6]:
type(df['Age'].values[0])

numpy.float64

In [7]:
df['Age'].shape

(891,)